body{
    background-color: #f1f1f1;
}
a{
    text-decoration: none !important;
}
a:hover{
   color: #f65a8a !important; 
   text-decoration: none !important;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#custom-navbar .nav a{
    font-size: 16px;
    margin-left: 20px;
}
#custom-navbar .nav .active>a{
    background-color:transparent;
    color: #f65a8a;
}
#custom-navbar{
    opacity: .8;
}
.main{
    margin-top: 70px;
}
.user-panel{
    background-color: #ffff;
    padding: 20px;
    margin-bottom: 10px;
}
#user-info-wrap div{
    margin-bottom: 10px;
}
.user-panel .btn{
    width: 100%;
}
.user-panel .switch-link{
    text-align: right;
}
.ad .thumbnail{
    border: none;
    padding: 0;
    height: 200px;
    transition: all 0.3s;
    margin-bottom: 10px;
}
.ad .thumbnail img{
    width: 100%;
    height: 100%;
}
.ad .thumbnail:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}
.intro-panel img{
    width: 100px;
    height: 100px;
}
.custom-panel {
    margin-bottom: 10px;
}
.custom-panel .panel-heading{
    background-color:transparent; 
    border: none;
}
.custom-panel .panel-body{
    background-color: #f7f7f7;
}
.host-list-panel .list-group-item{
    padding: 10px 0;
    background-color: transparent;
    border: none;
}
.qr-panel img{
    width: 100%;
}
#article-wrap{
    min-height: 360px;
}
.custom-panel.article-panel .panel-body{
    background-color: transparent;
}
.article-panel .panel-footer{
    background-color:transparent; 
    border: none;
}
.article-panel .panel-title{
    border-left: 2px solid #f65a8a;
    padding-left: 15px;
    margin-left: -16px;
}
.article-panel:hover .panel-title{
    color: #f65a8a;
}
.article-panel .panel-heading a{
    color: #333;
}
.article-panel .footer-text{
    margin-right: 10px;
}
.article-panel .view-num{
    font-style: italic;
}
.pagination>li.active>a,.pagination>li.active>a:hover{
    background-color: #eee;
    border-color: #ddd;
    color: #f65a8a !important;
}
footer{
    text-align: center;
    padding: 20px 0;
}