{% extends './layout.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}
{% block content %}
<div class="panel panel-default custom-panel detail-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{article.title}}</h3>
        <p class="sub-title text-muted">
            <span>{{article.category.name}}</span>
            <span>{{article.createdTime}}</span>
            <span class="view-num">{{article.click}}</span>
            <span>人已阅读</span>
        </p>
    </div>
    <div class="panel-body">
        <div class="well">
            <strong>简介:</strong>
            {{article.intro}}
        </div>
        <p>{{article.content | safe }}</p>
    </div>
</div>
{% endblock %}