{% extends './layout.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/detail.css">
{% endblock %}
{% block content %}
<div class="panel panel-default custom-panel detail-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{article.title}}</h3>
        <p class="sub-title text-muted">
            <span>{{article.category.name}}</span>
            <span>{{article.createdTime}}</span>
            <span class="view-num">{{article.click}}</span>
            <span>人已阅读</span>
        </p>
    </div>
    <div class="panel-body">
        <div class="well">
            <strong>简介:</strong>
            {{article.intro}}
        </div>
        <p>{{article.content | safe }}</p>
    </div>
</div>
<div class="row">
    {% if userInfo._id %}
    <div class="col-md-10">
        <textarea id="comment-textarea" cols="85" rows="3" class="form-control"></textarea>
    </div>
    <div class="col-md-2">
        <button data-id="{{article._id.toString()}}" id="btn-sub-comment" class="btn btn-primary">提交</button>
    </div>
    <div class="col-md-12 text-danger"></div>
    {% else %}
    <div class="col-md-12">
        <p class="bg-success comment-login-tips">请求登录后提交评论</p>
    </div>
    {% endif %}
</div>
<div class="row" id="comment-wrap">
    {% for comment in comments %}
    <div class="col-md-12">
        <div class="text-muted comment-item">
            <p>{{ comment.content }}</p>
            <p>
               <span>{{ comment.user.username }}</span> 发表于
                <span>{{ comment.createdTime }}</span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation" id="comment-page" data-id="{{article._id.toString()}}">
            {% include './pagination.html' %}
        </nav>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="/js/detail.js"></script>
{% endblock %}