<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <p>name: {{name}}</p>

    <p>orderNo: {{order.orderNo}}</p>
    <p>price: {{order.price}}</p>
    
    <p>
        {% if type == 1 %}
            管理员
        {% endif %}
        {% if type == 2 %}
            普通用户
        {% endif %}
    </p>
    <p>
        {% if level == 1 %}
            vip
        {% elseif level ==2 %}
            svip
        {% else %}
            普通会员
        {% endif %}
    </p>

    {% for key,val in friends %}
        <p>{{key}} : {{val}}</p>
    {% endfor %}
    
    <p>时间: {{ createdAt | date('Y年m月d日 H:m:s',-8*60) }}</p>
    <p>HTML代码: {{ desc | safe }}</p>
</body>
</html>