{% extends './layout.html' %}
{% block title %}
评论管理
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>评论ID</th>
                <th>关联文章</th>
                <th>发布者</th>
                <th>发布时间</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment._id.toString() }}</td>
                <td>{{ comment.article.title }}</td>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.createdTime }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="/homes/comments/delete/{{comment._id.toString()}}" class="del">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './pagination.html' %}
{% endblock %}