{% extends './layout.html' %}
{% block title %}
分类管理
{% endblock %}

{% block content %}
<a href="/categories/add" class="btn btn-primary">新增</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>分类ID</th>
                <th>分类名称</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category._id.toString() }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.order }}</td>
                <td>
                    <a href="/categories/edit/{{category._id.toString()}}">编辑</a>
                    <a href="/categories/delete/{{category._id.toString()}}" class="del">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './pagination.html' %}
{% endblock %}