{% extends './layout.html' %}
{% block title %}
用户管理
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名称</th>
                <th>是否管理员</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user._id.toString() }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.isAdmin %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include './pagination.html' %}
{% endblock %}